$color-blanco: white;
$color-gris:grey;
$color-gris-light: rgba(255, 255, 255, 0.63);
$color-vintage: rgb(178,40,47);
$color-vintage-light: rgba(178, 40, 47, 0.733);
$color-negro: black;
$color-negro-light: rgba(0, 0, 0, 0.753);

$font-principal:'Cairo', sans-serif;

